@font-face {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Thin", sans-serif;
  font-family: "Roboto Light", sans-serif;
  font-family: "Roboto Medium", sans-serif;
  font-family: "Roboto Black", sans-serif;

  src: url("https://fonts.cdnfonts.com/css/roboto");
}
.header {
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 10px 50px;
  }

  &__navbar {
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 15px 18px;
    font-family: "Roboto", sans-serif;
    transition: 0.4s;
  }

  &__item:hover {
    scale: 1.1;
  }

  &__link {
    text-decoration: none;
  }
}
