.header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(91, 198, 240) ;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		padding: 10px 50px;
	}

	&__navbar {
		display: flex;
		list-style: none;
	}

	&__item {
		color: #10286c;
		padding: 15px 22px;

	}

	&__link {
		text-decoration: none;
	}
}
